In [1]:
import numpy as np
import pandas as pd
import cv2
import kagglehub
import os

C:\Users\user\anaconda3\envs\MachineLearning\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Converting videos into multiple frames for tabular data
Use pixabay website for video dataset

#### Creating 3 different folders

In [2]:
os.makedirs(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\dog")
os.makedirs(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\cat")
os.makedirs(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\elephant")

**By using the below code, we are extracting only the mp4 files**

In [3]:
l = []
for y in os.listdir(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos"):
    if y.endswith(".mp4"):
        l.append(y)
l

[]

##### We are splitting each video into different frame images and saving it into respective folders created earlier

In [4]:
for video in l:
    vid = cv2.VideoCapture(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\{}".format(video)) 
    c = 0
    while True:
        res, img = vid.read() 
        if res == False: 
            break
        # we extract the video name from mp4 file using split
        cv2.imwrite(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\{}\{}{}.jpg".format(video.split(".")[0], video.split(".")[0], c), img)
        c += 1
        cv2.imshow("video", img)
        if cv2.waitKey(10) & 255 == ord("q"): 
            break
    cv2.destroyAllWindows()

##### Now we convert all the images in each folder into tabular data

In [5]:
lst = []
class_labels = []
folders = os.listdir(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos")
for y in folders:
    if y.endswith(".mp4"):
        lst.append(y)
for x in folders:
    if x not in lst:
        class_labels.append(x)
class_labels

['cat', 'dog', 'elephant']

In [6]:
cat_features = []
for image in os.listdir(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\cat"):
    img = cv2.imread(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\cat\{}".format(image), 1) 
    img = cv2.resize(img, (50,50))
    img = img.flatten()
    cat_features.append(img)
cat_data = pd.DataFrame(cat_features)
cat_data["Class Labels"] = class_labels[0]
cat_data.to_csv("cat_data.csv")
cat_data

Empty DataFrame
Columns: [Class Labels]
Index: []

In [7]:
dog_features = []
for image in os.listdir(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\dog"):
    img = cv2.imread(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\dog\{}".format(image), 1) 
    img = cv2.resize(img, (50,50))
    img = img.flatten()
    dog_features.append(img)
dog_data = pd.DataFrame(dog_features)
dog_data["Class Labels"] = class_labels[1]
dog_data.to_csv("dog_data.csv")
dog_data

Empty DataFrame
Columns: [Class Labels]
Index: []

In [8]:
elephant_features = []
for image in os.listdir(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\elephant"):
    img = cv2.imread(r"C:\Users\user\ML\Week 2\dog_cat_&_elephant videos\elephant\{}".format(image), 1) 
    img = cv2.resize(img, (50,50))
    img = img.flatten()
    elephant_features.append(img)
elephant_data = pd.DataFrame(elephant_features)
elephant_data["Class Labels"] = class_labels[2]
elephant_data.to_csv("elephant_data.csv")
elephant_data

Empty DataFrame
Columns: [Class Labels]
Index: []

### Converting Live video into multiple Frames for Tabular data

In [14]:
vid = cv2.VideoCapture(0) 
c = 0
while True:
    res, img = vid.read()
    if res == False:
        print("Camera not working")
        break
    cv2.imshow("livestream", img)
    if cv2.waitKey(1) & 255 == ord("b"):
        cv2.imwrite(r"C:\Users\user\ML\Week 2\My Face images\priya\{}.jpg".format(c), img)
        print("Image captured sucessfully")
        c += 1
    if cv2.waitKey(1) & 255 == ord("q"):
        break
cv2.destroyAllWindows()

Image captured sucessfully
Image captured sucessfully
Image captured sucessfully
Image captured sucessfully
Image captured sucessfully
Image captured sucessfully
Image captured sucessfully
Image captured sucessfully
Image captured sucessfully

In [15]:
my_face_images = []
for image in os.listdir(r"C:\Users\user\ML\Week 2\My Face images\priya"):
    img = cv2.imread(r"C:\Users\user\ML\Week 2\My Face images\priya\{}".format(image), 1) 
    img = cv2.resize(img, (50,50))
    img = img.flatten()
    my_face_images.append(img)
my_face_data = pd.DataFrame(my_face_images)
my_face_data["Class Labels"] = "My face"
my_face_data.to_csv("my_face_data.csv")
my_face_data

,0,1,2,3,4,5,6,7,8,9,...,7491,7492,7493,7494,7495,7496,7497,7498,7499,Class Labels
0,108,171,186,104,172,184,100,177,178,107,...,48,46,11,59,51,35,63,53,26,My face
1,106,178,186,107,177,187,102,181,186,96,...,40,40,19,62,55,32,55,58,37,My face
2,107,172,187,102,175,187,113,176,185,108,...,32,42,16,54,56,30,61,69,44,My face
3,107,177,181,104,174,189,99,177,178,106,...,43,40,22,51,50,21,64,50,31,My face
4,110,176,194,107,183,185,103,179,193,101,...,44,39,21,59,62,26,61,58,26,My face
5,105,176,185,99,175,193,105,175,192,108,...,43,40,19,56,60,35,60,60,26,My face
6,118,187,184,106,185,188,109,184,192,109,...,57,56,37,56,62,28,83,74,36,My face
7,118,186,190,115,185,195,110,185,195,109,...,59,53,33,58,67,34,95,73,36,My face
8,111,182,191,107,183,189,105,185,190,105,...,56,63,35,59,63,27,73,61,31,My face